
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar (industry standard) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
